@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500;700&display=swap');

:root {
    --btn-clr: hsla(230, 34%, 46%, 1);
    --font-clr: hsla(231, 42%, 28%, 1);
    --font-clr-dim: hsla(231, 42%, 28%, .6);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: hsl(220, 43%, 97%);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: 'Karla', sans-serif;
    color: var(--font-clr);
}

body:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 10rem;
    aspect-ratio: 1;
    background-image: url("./images/top-blob.png");
    background-position: top right;
    background-repeat: no-repeat;
}

body:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10rem;
    aspect-ratio: 1;
    background-image: url("./images/bottom-blob.png");
    background-position: bottom left;
    background-repeat: no-repeat;
}

button {
    cursor: pointer;
}

select {
    background-color: white;
    border: 2px solid var(--btn-clr);
    border-radius: 5px;
}

.startpage-section {
    text-align: center;
}

.startpage-section>*+*+* {
    margin-top: 1.75rem;
}

.startpage-section>h1 {
    color: var(--font-clr);
    line-height: 2.5rem;
}

.quote {
    letter-spacing: 4px;
    line-height: .3rem;
    color: var(--font-clr-dim);

}

.quiz-options {
    display: flex;
    gap: 1.25rem;
}

.action-button {
    padding-block: .75rem;
    padding-inline: 3.25rem;
    border: none;
    border-radius: 15px;
    background: var(--btn-clr);
    color: white !important;

    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2rem;
}

.action-button:active {
    /* border: 2px solid red; */
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.quizPage {
    color: var(--font-clr);
    width: 70vw;
    display: flex;
    flex-direction: column;
}

.quizPage button {
    color: var(--font-clr);
    padding: .3rem .8rem;
    border: 1px solid hsl(230, 34%, 46%); 
    border-radius: .6rem;
}

.answers {
    padding-block: .75rem 1rem;
    display: flex;
    gap: 1.25rem;
}

.checkAnswer-container {
    display: flex;
    justify-content: center;
}

.checkAnswer {
    margin-top: 1.5rem;
}

.score{
    text-align: center;
}

.score-bar {
    display: flex;
    border: 5px solid white;
    width: 20rem;
    height: 2.5rem;
    border-radius: .6rem;
    overflow: hidden;
}

.correct {
    background-color:hsla(133, 46%, 71%, 1);

}

.wrong {
    background-color: hsla(360, 81%, 85%, 1);
}

.after-game {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.score-board {
    font-weight: 700;
}